# Data Smoothing

Although detecting *outliers* is a very broad topic, we can do the same using moving averages on **time series** data, eliminating *spikes*, measurement errors, or both. Even though the *spikes are accurate*, they 
may not reflect the underlying process and may be more a matter of instrumentation issues, so it is common to smooth the data.

Data smoothing is closely related to missing data imputation. Thus, some of 
his techniques are also relevant to us. Smoothing can have many purposes:
    - data preparation;
    - feature generation;
    - prediction;
    - visualization;

### Exponential Smoothing

Compared to the moving average, exponential smoothing is more sensitive to temporality, weighting recent points more than less recent points. Therefore, for a given window, the closest point in time has a denser weight and each previous point in time has an exponentially smaller weight.

### Importing libs

In [2]:
import pandas as pd

### Dataset Description
The airline passenger dataset is a description of thousands of monthly passengers

In [14]:
# reading the csv of AirPassengers
air = pd.read_csv("/Users/dellacorte/py-projects/data-science/time-series-pocket-reference/getting-time-series-datasets/datasets/AirPassengers.csv", names=["Date", "Passengers"])
air

        Date  Passengers
0    1949-01         112
1    1949-02         118
2    1949-03         132
3    1949-04         129
4    1949-05         121
..       ...         ...
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

[144 rows x 2 columns]